.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* GAME WINDOW CSS */
.gameWindow {
  border: 5px solid black;
  display: block;
  margin-left: 25%;
  /* margin-left: auto;
  margin-right:5%;
  margin-top:5%;  */
  width: 50%;
  height: fit-content;
}

.needBackground{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ff0000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
height: 900px;
}

.gameBackground {
  width:100%;
}

.arrow{
  width: 10%;
}

.rug {
  width:75%;
}

.lock {
  width:10%;
  display: block;
  margin-left: 8%;
  margin-right:auto;
  margin-top:35%;
}

.armChair {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right:5%;
  margin-top:50px;
}

.table {
  /* width: 10%; */
  display: block;
  margin-left: auto;
  margin-right:5%;
  margin-top:50px;
}

.drawer {
  width: 30%;
}

.lights {
  background-image: url('./img/lightSwitches.png');
  background-size:100%;
  height: 10%;
  width: 29%;
  display: block;
  margin-left: auto;
  margin-right:5%;
  margin-top:15%;
}

.safe {
  width: 22%;
  display: block;
  margin-left: auto;
  margin-right:9%;
  margin-top:2%;

}

.book{
  background-image: url('./img/book.png');
  background-size:100%;
  width: 13%;
  display: block;
  margin-left: auto;
  margin-top:11%;
  z-index: 10000;
}

.BookClues {
  width:100%;
  height:90%;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-top:-80%;
  z-index: 10000;
  /* margin-top: ; */
}

.rightPage{
  background-image: url('./img/RightPage.png');
  background-size:100%;
  width: 100%;
  height: 100%;
  position: "absolute";
  margin-left: "5%"; 
  margin-top: "-80%"; 
}


.leftPage{
  background-image: url('./img/LeftPage.png');
  background-size:100%;
  width: 100%;
  position: absolute;
  margin-left: "5%"; 
  margin-top: "-80%"; 
}

.letter{
  background-image: url('./img/oldPaper.png');
  background-size:100%;
  width: 13%;
  display: block;
  margin-left: auto;
  margin-top:11%;

}

.clickable{
  cursor: pointer;
}

.paintings{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 20%;
  
  position: absolute;
  top: 4%;
  right: 7%;
  
}

.painting{
  height: 104%;
  width: 84%;
  margin: 20px;
  cursor: pointer;
}

li{
  
  list-style: none;
}