.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Global Classes */
.homeBackground{
  background-image: url("https://media.blenderartists.org/uploads/default/optimized/4X/a/a/d/aade7a3f924a85d4339c347c801e3edfabf47f2f_2_1380x776.jpeg");
  background-size:cover;
}

.muteButton {
  width:3%;
  margin: 1%;
}

.bgVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.backgroundTable{
  background-color: rgb(27, 56, 36, .8); 
  color: aliceblue;
}

.form{
  position: absolute;
  top: 0%;
  left: 11%;
  height: 20%;
  width: 95%;
}

th, td{
  color: aliceblue;
}

.backgroundColor {
  background-color: hsla(196, 51%, 20%, 0.55);
  width: 100%;
  height: 120vh
}
.greenbox{
  font-size: 1.2vw;
  width: 50%;
  height: fit-content;
  background-color: rgb(27, 56, 36, .8);
  margin: 0px auto;
  padding: 3%;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(18, 17, 17);
}

/* GAME WINDOW */
.gameWindow {
  border: 5px solid black;
  display: block;
  width: 50%;
  height: fit-content;
}

.gameBackground {
  width:100%;
}

/* Objects */

.arrow{
  width: 10%;
}

.rug {
  width:75%;
}

.clickable{
  cursor: pointer;
}


.head{
  text-align: center;
  color: red;
}

.hint{
  top: 20%;
  left: 80%;
  width: 10%;
  height: 30%;
  padding: 10px;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Front Door View */

.finalKey {
  width: 10%;
  display: block;
  margin-top: 2%;
  margin-right: 11%;
}

.lock {
  width:10%;
  display: block;
  margin-left: 8%;
  margin-right:auto;
  margin-top:35%;
}

/* Bookshelf View */
.armChair {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right:5%;
  margin-top:50px;
}

.lamp {
  width:60%;
  margin-left: auto;
  margin-left:20%;
  margin-top:38%;
}

.word {
  margin-left: auto;
  margin-right:9%;
  margin-top:20%;
}

.book{
  background-image: url('./img/book.png');
  background-size:100%;
  width: 13%;
  margin-right: -2%;
  margin-top: 20%;
  z-index: 1;
}

.font {
  font-family: 'Grape Nuts', cursive;
  font-size: 1vw;
}

.BookClues {
  width:100%;
  height:90%;
  position: absolute;
  margin-left: auto;
  margin-top:-80%;
  z-index: 1;
}

.bookPage{
  width: 100%;
}

.rightPage{
  background-image: url('./img/RightPage.png');
  background-size:100%;
  width: 100%;
  height: 100%;
  position: "absolute";
  margin-left: "5%"; 
  margin-top: "-80%";

}

.leftPage{
  background-image: url('./img/LeftPage.png');
  background-size:100%;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: "5%"; 
  margin-top: "-80%"; 

}

/* Paintings View */
.clothTable {
  width: 40%; 
  display: block;
  margin-left: auto;
  margin-right:5%;
  margin-top:50px;
} 

.boxes{
  width: 30%;
  margin-left: 7%;
  margin-top:50px;
}

.paintings{
  display: flex;
  justify-content: space-between;
}

.painting{
  height: 104%;
  width: 84%;
  margin: 10%;
  cursor: pointer;
}

/* Lights View */
.mirror {
  width: 45%;
  margin-top: 32%;
  margin-left: 20%;
}

.drawer1 {
  width: 20%;
  margin-top:-8%;
  margin-left: auto;
}

.riddle {
  background-size:100%;
  width: 80%;
}

.lights {
  background-image: url('./img/lightSwitches.png');
  background-size:100%;
  height: 10%;
  width: 29%;
  margin-left: auto;
  margin-right:5%;
  margin-top:15%;
}

.safe {
  width: 15%;
  margin-left: auto;
  margin-right: 9%;
  margin-top:2%;
}

/* Safe KeyPad */
.keypad {
  background-size:100%;
  width: 60%;
}

.codeInput{
  height: 90%;
  width: 80%;
  border-radius: 5%;
  font-size: 6vw;
  padding-left: 15%;
  margin-top: 4%;
}

.keypad{
  position: absolute;
  top: 5%;
  left: 18%;
  
}

.keypadimg{
  width: 100%;
  height: 100%;
}

.abc{
  position: absolute;
  top: 138%;
  left: -1%;
  width: 25%;
  height: 81%;
  
}

.def{
  position: absolute;
  top: 138%;
  left: 27%;
  width: 25%;
  height: 81%;
  
}

.ghi{
  position: absolute;
  top: 138%;
  left: 55%;
  width: 25%;
  height: 81%;
  
}

.jkl{
  position: absolute;
  top: 228%;
  left: -1%;
  width: 25%;
  height: 81%;
  
}

.mno{
  position: absolute;
  top: 228%;
  left: 27%;
  width: 25%;
  height: 81%;
  
}

.pqr{
  position: absolute;
  top: 228%;
  left: 55%;
  width: 25%;
  height: 81%;
  
}

.stu{
  position: absolute;
  top: 315%;
  left: -1%;
  width: 25%;
  height: 81%;
  
}

.vwx{
  position: absolute;
  top: 315%;
  left: 28%;
  width: 25%;
  height: 81%;
  
}

.yz{
  position: absolute;
  top: 315%;
  left: 56%;
  width: 25%;
  height: 81%;
  
}

.delete{
  position: absolute;
  top: 402%;
  left: -1%;
  width: 25%;
  height: 81%;

}

.zero{
  position: absolute;
  top: 402%;
  left: 28%;
  width: 25%;
  height: 81%;
  
}
.enter{
  position: absolute;
  top: 402%;
  left: 56%;
  width: 25%;
  height: 81%;

}

li{
  
  list-style: none;
}

.pushList{
  
  width: 100%;
  height: 30%;
  
  
}


/* Success Page */
.success{
  height: 100%;
  width: 100%;
  color:rgb(252, 252, 252);
  text-align: center;
  font-size: large;
  padding-top: 10%;
  background-size: cover;
  z-index: 2;
}


/* Best Times Page */

.best{
  
  color: rgb(30, 207, 110);
  text-align: center;
}

.timesPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.padding{
  margin: 0px auto;
}

.btnwidth{
  width:100%;
}

