.sidebar {
    width: 40%;
    height: 10vw;
    overflow: auto;
    background-color: aliceblue;
    margin: 3%;
    border-radius: 5px;
  }

  .sidebar ul {
    margin: 0;
    padding: 0;
  }

  .sidebar li {
    list-style: none;
    font-size: 1.5vw;
    text-decoration: none;
    margin: 2%;
    display: block;
    color: black;
  }

