.sidebar {
    
    top: 15%;
    left: 3%;
    width: 18%;
    height: 50vh;
    /* background-color: #81969d; */
    background-color: #0a9ed0;
    overflow: auto;
    /* border-radius: 10px; */
  }

  .sidebar ul {
    margin: 0;
    padding: 0;
  }

  .sidebar li {
    list-style: none;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
  }

