.sidebar {
    position: fixed;
    top: 100px;
    left: -20%;
    width: 20%;
    height: 300px;
    background-color: #ffffff;

    overflow: auto;
    border-radius: 10px;
    
    /* transition: left 300ms ease-out; */
  }
  .sidebar.active {
    left: 0;
    
  }

  .sidebar ul {
    margin: 0;
    padding: 0;
  }

  .sidebar li {
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
  }

