.sidebar {
    position: absolute;
    top: 15%;
    left: 3%;
    width: 20%;
    height: 60%;
    background-color: #b52c2c;

    overflow: auto;
    border-radius: 10px;
    
    /* transition: left 300ms ease-out; */
  }
  /* .sidebar.active {
    left: 3%;
    
  } */

  .sidebar ul {
    margin: 0;
    padding: 0;
  }

  .sidebar li {
    list-style: none;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
  }

